h1 {
    text-align: center;
    margin-top: -20px;
    margin-bottom: -10px;
    font-family: 'Bungee Inline';
    color: #353535;
}
p {
    text-align: center;
 margin-bottom: -20px;
 font-family: 'Nunito';
}   